<ul class="aside">

  <%for(var i = 0; i< asideData.length; i++){%>
   <li>
        <%if((asideData[i].checked && asideData[i].type===1) || userInfo.is_super === 1){%>
          <h4><%=asideData[i].module_name%></h4>
          <ul>
              <%for(var j = 0; j < asideData[i].items.length; j++){%>
                <%if((asideData[i].items[j].checked && asideData[i].items[j].type !== 3)  || (userInfo.is_super === 1 && asideData[i].items[j].type !== 3)){%>
                  <li  class="list-group-item"> <a href=<%=asideData[i].items[j].url%>> <%=asideData[i].items[j].action_name%></a></li>
                <%}%>
            <% }%>
          </ul>
         <%}%>
    </li>
  <%}%>
         		
</ul>